#{ extends '/template.html' /}
#{ set title:'Hello' /}
#{ set gs:'true' /}
  

<div class="row">
  <div class="col-md-12">
    <h1>
      Archive<br/>
      <small>All thoughts and writing</small>
    </h1>
  </div>


  <div class="col-md-12">
    <h2 style="text-align:center">2015</h2>

    <h3><a href="/smoke-os/index.html">SmokeOS</a> <small>coded in C, license Affero GPL</small></h3>
    <p>This is by far my largest project, a complete operating system developed from scratch.</p>

  </div>

</div>
