#{ extends '/template_page.html' /}
#{ set title:'Home' /}
#{ set gs:'true' /}
#{ set menu:'home' /}
  

<div class="row">
  <div class="col-md-9">
    <h1>Hello world</h1>
    <p class="lead">
      Welcome on my webpages
    </p>
    <img src="https://img.shields.io/npm/v/axml.svg" />
    <img src="https://img.shields.io/npm/dm/axml.svg" />
    <img src="https://img.shields.io/travis/AxFab/axml.svg" />
    <img src="https://img.shields.io/coveralls/axfab/axml.svg" />

    <img src="https://badge.fury.io/js/axml.svg" />
    <img src="https://nodei.co/npm/axml.png?downloads=true&downloadRank=true&stars=true" />
    <img src="https://nodei.co/npm-dl/axml.png?height=3" />
    <p></p>

    <img src="https://img.shields.io/npm/v/html-markup.svg" />
    <img src="https://img.shields.io/npm/dm/html-markup.svg" />
    <img src="https://img.shields.io/travis/AxFab/html-markup.svg" />
    <img src="https://img.shields.io/coveralls/axfab/html-markup.svg" />
    <img src="https://badge.fury.io/js/html-markup.svg" />
    <img src="https://nodei.co/npm/html-markup.png?downloads=true&downloadRank=true&stars=true" />
    <img src="https://nodei.co/npm-dl/html-markup.png?height=3" />
  </div>

#{include '/menu.html' /}

</div>
