#{ extends '/template_page.html' /}
#{ set title:'Home' /}
#{ set gs:'true' /}
#{ set menu:'home' /}
  

<div class="row">
  <div class="col-md-9">
    <h1>Hello world!</h1>
    <p class="lead">
      Welcome on my personal page. I’m Fabien B., enthusiast system developer.  I build those pages as a portfolio for the program/apps I’m developing. My biggest project is however, by far, my personal operating system.  The project is still really immature, but most of all, developing a   complete operating system takes a freaking amount of times. Doesn't matter, I enjoy developing it.
    </p>
    <p class="lead">
      I'm both comfortable on really low-level, assembly and close to the hardware. As on high-level,   designing web-apps, desktop software’s, or large scalable systems. Of course   I am more comfortable on some level than other, (always more interested on backend side) but I like to keep track of everything and understand how pieces fits together.
    </p>
    <p class="lead">
      Anyway, Thanks for the interest you have for my website. If you want to know more about me please visit the about section. I try to keep other area of the website less self-oriented. 
    </p>
    <p class="lead">
      Careful, some articles might be really technical. I decided to put a legend for technical requirement in front of my articles:
      <ul>
        <li><span class="badge bdg-lvl1">Novice</span></li>
        <li><span class="badge bdg-lvl2">Initiated</span></li>
        <li><span class="badge bdg-lvl3">Expert</span></li>
      </ul>
    </p>
  </div>

#{include '/menu.html' /}

</div>
