#{extends '/template_page.html' /}
#{set title:'NodeJs Libraries' /}
#{set menu:'npm' /}


<div class="row">

#{include '/notes/menu.html' /}

  <div class="col-md-10">

    <div class="row">

      <div class="col-md-12">
        <h1>My Node.Js Packages</h1>
        <p class="lead">I developed several packages for nodejs that have been published on npm.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <h2>Axml 
          <small class="pull-right">&nbsp;
            &nbsp;<a href="https://github.com/axfab/axml" class="btn btn-warning btn-xs" ><i class="fa fa-github"></i> Github</a>
            &nbsp;<a href="https://www.npmjs.com/package/axml" class="btn btn-warning btn-xs" ><i class="fa fa-soundcloud"></i>
 Npm</a>
          </small>
        </h2>
        <img src="https://img.shields.io/npm/v/axml.svg" />
        <img src="https://img.shields.io/npm/dm/axml.svg" />
        <img src="https://img.shields.io/travis/AxFab/axml.svg" />
        <!-- <img src="https://img.shields.io/coveralls/axfab/axml.svg" /> -->
        <p class="lead">Node.js package, Xml Parser - convert Xml to JsonML.</p>
        <p>This small js library have been build to parse XML. Most of xml library I study in Js is loosing some precious informations (children order, blank text).</p>
        <p>I decided to create my own XML parser which, by default provide JsonML object but can also be override to build a custom document</p>

      </div>

      <div class="col-md-6">
        <h2>Srpc
          <small class="pull-right">&nbsp;
            &nbsp;<a href="https://github.com/axfab/srpc" class="btn btn-warning btn-xs" ><i class="fa fa-github"></i> Github</a>
            &nbsp;<a href="https://www.npmjs.com/package/srpc" class="btn btn-warning btn-xs" ><i class="fa fa-soundcloud"></i>
 Npm</a>
          </small>
        </h2>
        <img src="https://img.shields.io/npm/v/srpc.svg" />
        <img src="https://img.shields.io/npm/dm/srpc.svg" />
        <img src="https://img.shields.io/travis/AxFab/srpc.svg" />
        <!-- <img src="https://img.shields.io/coveralls/axfab/html-markup.svg" /> -->
        <p class="lead">An easy to use RPC implementation using json-rpc specification.</p>
        <p>SRPC allow to share method across network using HTTP request.</p>
        <p>The configuration take only two method to make a server and a client to communicate. The client receive an object which share its methods with the one defined on the server.</p>

      </div>

      <div class="col-md-6">
        <h2>TinyDB
          <small class="pull-right">&nbsp;
            &nbsp;<a href="https://github.com/axfab/tiny-db" class="btn btn-warning btn-xs" ><i class="fa fa-github"></i> Github</a>
            &nbsp;<a href="https://www.npmjs.com/package/tiny-db" class="btn btn-warning btn-xs" ><i class="fa fa-soundcloud"></i>
 Npm</a>
          </small>
        </h2>
        <img src="https://img.shields.io/npm/v/tiny-db.svg" />
        <img src="https://img.shields.io/npm/dm/tiny-db.svg" />
        <img src="https://img.shields.io/travis/AxFab/tiny-db.svg" />
        <!-- <img src="https://img.shields.io/coveralls/axfab/html-markup.svg" /> -->
        <p class="lead">Small document database. Create a store of JSON documents.</p>
        <p>Tiny DB is a JSON document store database. The API is based on MongoDB.</p>

      </div>

      <div class="col-md-6">
        <h2>Html-Markup
          <small class="pull-right">&nbsp;
            &nbsp;<a href="https://github.com/axfab/html-markup" class="btn btn-warning btn-xs" ><i class="fa fa-github"></i> Github</a>
            &nbsp;<a href="https://www.npmjs.com/package/html-markup" class="btn btn-warning btn-xs" ><i class="fa fa-soundcloud"></i>
 Npm</a>
          </small>
        </h2>
        <img src="https://img.shields.io/npm/v/html-markup.svg" />
        <img src="https://img.shields.io/npm/dm/html-markup.svg" />
        <img src="https://img.shields.io/travis/AxFab/html-markup.svg" />
        <!-- <img src="https://img.shields.io/coveralls/axfab/html-markup.svg" /> -->
        <p class="lead">Node.js package, Html template engine.</p>
        <p>This is an engine that define a new HTML template language. The language used is strongly base on the one used on the first iteration of the play framework.</p>
        <p>This lanaguage is far from the best available but I designed it because I needed file inclusion.</p>

      </div>
<!-- 
      <div class="col-md-12">
        <h2>Processsor 16 bits</h2>
        <a href="/notes/phx16.html">More...</a>
      </div> -->
<!-- 
[![Fab Gratipay][gratipay-image]][gratipay-url]

[gratipay-image]: https://img.shields.io/gratipay/axfab.svg
[gratipay-url]: https://gratipay.com/axfab/ -->

    </div>
  </div>
</div>

