#{extends '/template_page.html' /}
#{set title:'SmokeOS kernel' /}
#{set menu:'overview' /}

<script type="text/javascript" src="/dist/lib/http.js"></script>
<script type="text/javascript" src="/dist/lib/jsonrpc.js"></script>
<script type="text/javascript"></script>


<div class="row">

#{include '/smoke-os/menu.html' /}

  <div class="col-md-10">

    <h2>Overview <small><span class="badge bdg-lvl1">Novice</span></small></h2>

    <p class="lead">A few years ago, I started a crazy project. I decided to start writing my own kernel. At the time I didn't have much knowledge of such system so I start learning a lot about system and harware principes. I already had strong skills in software development but this project really improve my knowledge and allow me to re-learn everything from a different point of view.</p>

    <hr/>

    <h2>Features <small><span class="badge bdg-lvl2">Initiated</span></small></h2>

    <p class="lead">A got scheduler, file system, a driver interface. Memory management allow mmap, heap.</p>

    <p>Syscalls implemented:
      <ul>
        <li><b>sys_exit</b>() &mdash; Quit the program and abort all related thread <em>(implemented &amp; tested)</em></li>
        <li><b>sys_exec</b>() &mdash; Start a new process <em>(basic implementation)</em></li>
        <li><b>sys_start</b>() &mdash; Start a new thread <em>(debugging)</em></li>
        <li><b>sys_stop</b>() &mdash; Put the current thread in zombie state <em>(debugging)</em></li>
        <li><b>sys_write</b>() &mdash; Write data on a stream/file <em>(implemented)</em></li>
        <li><b>sys_read</b>() &mdash; Read data from a stream/file <em>(implemented)</em></li>
        <li><b>sys_mmap</b>() &mdash; Map a file on the process memory space <em>(basic implementation)</em></li>
        <li><b>sys_open</b>() &mdash; Open a file as a used process resource <em>(basic implementation)</em></li>
        <li><b>sys_close</b>() &mdash; Release a process resource <em>(implemented)</em></li>
        <li><b>sys_pinfo</b>() &mdash; Load information about a process <em>(partial implementation)</em></li>
      </ul>
    </p>


  </div>
</div>

