
  <div class="col-md-2 hidden-xs hidden-sm">
    <ul class="nav nav-default nav-stacked nav-pills">
      <li><a href="#"><h3>SmokeOs</h3></a><li>
      <li class="#{get_if menu = 'overview':'active':''/}"><a href="/smoke-os/index.html"><i class="glyphicon glyphicon-home"></i> Overview</a></li>
      <li class="#{get_if menu = 'feature':'active':''/}"><a href="/smoke-os/feat.html"><i class="glyphicon glyphicon-eye-open"></i> Discovers</a></li>
      <li class="#{get_if menu = 'support':'active':''/}"><a href="/smoke-os/faq.html"><i class="glyphicon glyphicon-book"></i> FAQ &amp; Support</a></li>
      <!-- <li><a href="#">User manual</a></li> -->
      <li class="#{get_if menu = 'download':'active':''/}"><a href="/smoke-os/dwn.html"><i class="glyphicon glyphicon-download-alt"></i> Download</a></li>
      <!-- <li><a href="#">Portefolio</a></li> -->
      <!-- <li><a href="/smoke-os/src.html">Sources</a></li> -->
      <li class="#{get_if menu = 'roadmap':'active':''/}"><a href="/smoke-os/rdm.html"><i class="glyphicon glyphicon-road"></i> Roadmap</a></li>
      <!-- <li><a href="#"><i class="glyphicon glyphicon-tags"></i> Internal design</a></li> -->
      <!-- <li><a href="#">Contribute</a></li> -->
      <li class="#{get_if menu = 'about':'active':''/}"><a href="/smoke-os/abt.html"><i class="glyphicon glyphicon-list-alt"></i> About</a></li>
      <li><hr/></li>
      <li><small style="color:#c2c2c2">SmokeOS and associate project are coded on C and assembly and are licensed under Affero GPL.</small>
    </ul>
  </div>
