
  <div class="col-md-12">
    <ul class="nav navbar-nav nav-sub">
      <li class="#{get_if menu = 'ov':'active':''/}">
        <a href="/smoke-os/index.html">Overview</a>
      </li>
      <li class="#{get_if menu = 'ft':'active':''/}">
        <a href="/smoke-os/features.html">Features</a>
      </li>
      <li class="#{get_if menu = 'sc':'active':''/}">
        <a href="/smoke-os/screens.html">Screenshot</a>
      </li>
      <li class="#{get_if menu = 'dw':'active':''/}">
        <a href="/smoke-os/downld.html">Download</a>
      </li>
      <li class="#{get_if menu = 'fq':'active':''/}">
        <a href="/smoke-os/faq.html">FAQ &amp; Support</a>
      </li>
    </ul>
  </div>
