#{ extends '/template.html' /}
#{ set title:'SmokeOS' /}
#{ set menu:'sc' /}

<div class="row">

  <div class="col-md-12">
    <h1>SmokeOS <small>Screenshot v0.*</small></h1>
  </div>

  #{include '/smoke-os/mn.html' /}

  <div class="col-md-12">
    <p></p>
  </div>

  <div class="col-md-12">

    <div id="my_carousel" class="carousel slide" data-ride="carousel">

      <!-- Bulles -->
      <ol class="carousel-indicators">
        <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my_carousel" data-slide-to="1"></li>
        <li data-target="#my_carousel" data-slide-to="2"></li>
      </ol>

      <!-- Slides -->
      <div class="carousel-inner">

        <!-- Page 1 -->
        <div class="item active">
          <div class="carousel-page">
            <img src="/dist/img/screenshot_OS0_01.png" class="img-responsive img-rounded" 
          style="margin:0px auto;"  />
          </div> 
          <div class="carousel-caption">Start shell and launch command 'colors'</div>
        </div>

        <!-- Page 2 -->
        <div class="item">  
          <div class="carousel-page">
          <img src="/dist/img/screenshot_OS0_01.png" class="img-responsive img-rounded" 
          style="margin:0px auto;max-height:100%;"  />
          </div>  
          <div class="carousel-caption">Page 2 de présentation</div>
        </div>

        <!-- Page 3 -->
        <div class="item">  
          <div class="carousel-page">
          <img src="/dist/img/screenshot_OS0_01.png" class="img-responsive img-rounded" 
          style="margin:0px auto;max-height:100%;"  />
          </div>  
          <div class="carousel-caption">Page 3 de présentation</div>
        </div>

      </div>

      <!-- Contrôles -->
      <a class="left carousel-control" href="#my_carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#my_carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

</div>
